/* Light Theme */
body[data-theme="light"] {
  background-color: #ffffff;
  color: #000000;
}

/* Dark Theme */
body[data-theme="dark"] {
  background-color: #1a1a1a;
  color: #f5f5f5;
}

/* Optional: you can style specific components too */
header[data-theme="dark"],
nav[data-theme="dark"] {
  background-color: #222;
}

header[data-theme="light"],
nav[data-theme="light"] {
  background-color: #FFF2F1;
}
